{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto p-5 bg-gray-100">
    <header class="text-center bg-green-600 py-4 shadow-md">
        <h1 class="text-3xl text-white font-semibold text-shadow-md">Buku-buku Tersedia</h1>
    </header>
    
    <h3 class="text-xl font-bold my-4">Daftar Buku:</h3>
    <table class="min-w-full bg-white rounded-lg shadow-md overflow-hidden">
        <thead>
            <tr class="bg-green-600 text-white uppercase text-sm">
                <th class="py-3 px-4">Nama Kitab</th>
                <th class="py-3 px-4">Harga</th>
                <th class="py-3 px-4">Deskripsi</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr class="hover:bg-gray-200">
                <td class="py-2 px-4 text-gray-700">{{ product.name }}</td>
                <td class="py-2 px-4 text-gray-700">Rp {{ product.price }}</td>
                <td class="py-2 px-4 text-gray-700">{{ product.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="POST" class="mt-8">
        {% csrf_token %}
        <table class="w-full bg-white rounded-lg shadow-md">
            <tr>
                <td class="py-4 px-4"><label for="customer" class="font-bold text-gray-600">Pemesan:</label></td>
                <td class="py-4 px-4">{{ form.pemesan }}</td>
            </tr>
            <tr>
                <td class="py-4 px-4"><label for="orderedbook" class="font-bold text-gray-600">Buku:</label></td>
                <td class="py-4 px-4">{{ form.buku }}</td>
            </tr>
            <tr>
                <td class="py-4 px-4"><label for="pcs" class="font-bold text-gray-600">Pcs:</label></td>
                <td class="py-4 px-4">{{ form.pcs }}</td>
            </tr>
            <tr>
                <td colspan="2" class="py-4 px-4 text-center">
                    <input type="submit" value="Add Book Entry" class="tombol_pesan bg-green-600 text-white font-semibold rounded-lg py-2 px-4 transition duration-300 ease-in-out hover:bg-green-700">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
