<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManhajBooks</title>
</head>
<body class="bg-gray-100">
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    {% include 'navbar.html' %}
    <div class="container mx-auto p-5">
        <h1 class="text-3xl font-bold text-center mb-4">{{ sambutan }}</h1>
        
        <h3 class="text-2xl font-semibold mb-4">Buku-buku Tersedia:</h3>
        <table class="min-w-full bg-white rounded-lg shadow-md overflow-hidden mb-8">
            <thead>
                <tr class="bg-green-600 text-white uppercase text-sm">
                    <th class="py-3 px-4">Nama Kitab</th>
                    <th class="py-3 px-4">Harga</th>
                    <th class="py-3 px-4">Deskripsi</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr class="hover:bg-gray-100">
                    <td class="py-2 px-4 text-gray-700">{{ product.name }}</td>
                    <td class="py-2 px-4 text-gray-700">Rp {{ product.price }}</td>
                    <td class="py-2 px-4 text-gray-700">{{ product.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% if not ordered_books %}
        <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
            <p class="text-center text-gray-600 mt-4">Belum ada daftar pesanan.</p>
            <h5></h5>
            <img src="{% static 'image/order_now.png' %}" alt="order_now" class="w-40 h-32 mb-4"/>
        </div>
        {% else %}
        <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
            {% for res in ordered_books %}
                {% include 'card_pesanan.html' with reservation=res %}
            {% endfor %}
        </div>
        {% endif %}

        <div class="text-center mt-5">
            <a href="{% url 'main:create_reservation_entry' %}">
                <button class="bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700 transition duration-300">
                    Beli
                </button>
            </a>
        </div>
        
        <h5 class="text-center text-gray-600 mt-4">
            {{ user.username }} : Sesi terakhir login: {{ last_login }}
        </h5>
    </div>
    {% endblock content %}
</body>
</html>
